.item {
  width: 6rem;
  height: 5.8rem;
  margin: 0.1rem;
  border-radius: 48%;
  font-size: 2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: dimgrey;
  border: .05rem solid rgb(25, 25, 25);
  color: white;
}

.orange {
  background-color: darkorange;
}

.lightGrey {
  background-color: lightgrey;
  color: black;
}